<launch>
  <arg name="model" default="$(find-pkg-share mir_description)/urdf/mir.urdf.xacro" description="xacro file of the MiR robot"/>
  <arg name="use_gui" default="true" description="use joint_state_publisher gui or not"/>
  <arg name="sim" default="false" description="run in simulation or reality"/>
  <arg name="mir_type" default="mir_100" description="use which kind of mir robot. Currently only MiR 100 and MiR 200 are available."/>
  <arg name="tf_prefix" default="" description="TF prefix"/>
  <arg name="use_nominal_extrinsics" default="false" description="Use all frames of the realsense camera"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" exec="robot_state_publisher" output="screen">
      <param name="robot_description" value="$(command 'xacro $(var model) tf_prefix:=$(var tf_prefix)
        mir_type:=$(var mir_type) use_nominal_extrinsics:=$(var use_nominal_extrinsics)')" />
      <param name="use_sim_time" value="true" />
  </node>
 
  <group unless="$(var sim)">
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" exec="joint_state_publisher_gui" if="$(var use_gui)" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" exec="joint_state_publisher" unless="$(var use_gui)" />
  </group>

  <node name="rviz" pkg="rviz2" exec="rviz2" args="-d $(find-pkg-share mir_description)/rviz/robot.rviz">
    <param name="use_sim_time" value="true" />
  </node>
</launch>
