<?xml version="1.0"?>
<!-- This file is built with the help of this package -->
<!-- Realsense2 camera in gazebo - https://github.com/pal-robotics/realsense_simulation/ -->

<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="realsense2_gazebo" params="prefix camera_name">
    <gazebo reference="${camera_name}_link">
      <self_collide>0</self_collide>
      <enable_wind>0</enable_wind>
      <kinematic>0</kinematic>
      <gravity>1</gravity>
      <!--<mu>1</mu>-->
      <mu2>1</mu2>
      <fdir1>0 0 0</fdir1>
      <!--<slip1>0</slip1>
      <slip2>0</slip2>-->
      <kp>1e+13</kp>
      <kd>1</kd>
      <!--<max_vel>0.01</max_vel>
      <min_depth>0</min_depth>-->
      <sensor name="${camera_name}color" type="camera">
        <pose relative_to='${camera_name}_color_frame'>0 0 0 0 0 0</pose>
        <topic>${camera_name}/color/image</topic>
        <camera name="${camera_name}">
          <horizontal_fov>${69.4*pi/180}</horizontal_fov>
          <camera_info_topic>${camera_name}/color/image/info</camera_info_topic>
          <image>
            <width>640</width>
            <height>480</height>
            <format>RGB_INT8</format>
          </image>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
          <segmentation_type>instance</segmentation_type>
          <box_type>2d</box_type>
          <optical_frame_id>${camera_name}</optical_frame_id>
        </camera>
        <always_on>1</always_on>
        <update_rate>30</update_rate>
        <visualize>1</visualize>
      </sensor>
      <sensor name="${camera_name}ired1" type="camera">
        <pose relative_to='${camera_name}_infra1_frame'>0 0 0 0 0 0</pose>
        <topic>${camera_name}/infra1/image</topic>
        <camera name="${camera_name}">
          <horizontal_fov>${85.2*pi/180}</horizontal_fov>
          <camera_info_topic>${camera_name}/infra1/image/info</camera_info_topic>
          <image>
            <width>1280</width>
            <height>720</height>
            <format>L8</format>
          </image>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.05</stddev>
          </noise>
        </camera>
        <always_on>1</always_on>
        <update_rate>30</update_rate>
        <visualize>0</visualize>
      </sensor>
      <sensor name="${camera_name}ired2" type="camera">
        <pose relative_to='${camera_name}_infra2_frame'>0 0 0 0 0 0</pose>
        <topic>${camera_name}/infra2/image</topic>
        <camera name="${camera_name}">
          <horizontal_fov>${85.2*pi/180}</horizontal_fov>
          <camera_info_topic>${camera_name}/infra2/image/info</camera_info_topic>
          <image>
            <width>1280</width>
            <height>720</height>
            <format>L8</format>
          </image>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.05</stddev>
          </noise>
        </camera>
        <always_on>1</always_on>
        <update_rate>30</update_rate>
        <visualize>0</visualize>
      </sensor>
      <sensor name="${camera_name}depth" type="depth">
        <pose relative_to='${camera_name}_depth_frame'>0 0 0 0 0 0</pose>
        <topic>${camera_name}/depth/image</topic>
        <camera name="${camera_name}">
          <horizontal_fov>${85.2*pi/180}</horizontal_fov>
          <image>
            <width>1280</width>
            <height>720</height>
          </image>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.100</stddev>
          </noise>
          <depth_camera>
            <output>depths</output>
            <clip>
              <near>0.1</near>
              <far>100</far>
            </clip>
          </depth_camera>
        </camera>
        <always_on>1</always_on>
        <update_rate>30</update_rate>
        <visualize>0</visualize>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>