<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find mir_description)/urdf/include/mir.gazebo.xacro" />

  <xacro:macro name="caster_wheels_add_gazebo" params="prefix location">
      <joint name="${prefix}${location}_caster_wheel_joint">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}${location}_caster_rotation_joint">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
  </xacro:macro>
  <xacro:macro name="gz_ros2" params="prefix">
    <ros2_control name="GazeboSimSystem" type="system">
      <hardware>
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </hardware>
      <joint name="${prefix}left_wheel_joint">
        <command_interface name="velocity">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="${prefix}right_wheel_joint">
        <command_interface name="velocity">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <xacro:caster_wheels_add_gazebo prefix="${prefix}" location="bl" />
      <xacro:caster_wheels_add_gazebo prefix="${prefix}" location="fr" />
      <xacro:caster_wheels_add_gazebo prefix="${prefix}" location="br" />
      <xacro:caster_wheels_add_gazebo prefix="${prefix}" location="fl" />

    </ros2_control>
    <gazebo>
      <!-- Joint state publisher -->
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find mir_description)/config/diff_drive_controller_velocity.yaml</parameters>
        <controller_manager_name>mir_controller_manager</controller_manager_name>
        <ros>
          <namespace></namespace>
          <remapping>/robot_description:=/robot_description</remapping>
        </ros>
      </plugin>
      <plugin
        filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
        <render_engine>ogre2</render_engine>
      </plugin>
      <plugin
        filename="gz-sim-imu-system"
        name="gz::sim::systems::Imu">
      </plugin>
    </gazebo>

    <!-- IMU  -->
    <gazebo reference="imu_link">
      <sensor name="imu_sensor" type="imu">
        <always_on>1</always_on>
        <update_rate>41</update_rate>
        <visualize>true</visualize>
        <topic>imu</topic>
        <imu>
          <enable_orientation>0</enable_orientation>
          <angular_velocity>
            <x>
              <noise type="gaussian">
                <mean>0</mean>
                <stddev>0.009</stddev>
                <bias_mean>0.00075</bias_mean>
                <bias_stddev>0.005</bias_stddev>
                <dynamic_bias_stddev>0.00002</dynamic_bias_stddev>
                <dynamic_bias_correlation_time>400.0</dynamic_bias_correlation_time>
                <precision>0.00025</precision>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0</mean>
                <stddev>0.009</stddev>
                <bias_mean>0.00075</bias_mean>
                <bias_stddev>0.005</bias_stddev>
                <dynamic_bias_stddev>0.00002</dynamic_bias_stddev>
                <dynamic_bias_correlation_time>400.0</dynamic_bias_correlation_time>
                <precision>0.00025</precision>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0</mean>
                <stddev>0.009</stddev>
                <bias_mean>0.00075</bias_mean>
                <bias_stddev>0.005</bias_stddev>
                <dynamic_bias_stddev>0.00002</dynamic_bias_stddev>
                <dynamic_bias_correlation_time>400.0</dynamic_bias_correlation_time>
                <precision>0.00025</precision>
              </noise>
            </z>
          </angular_velocity>
          <linear_acceleration>
            <x>
              <noise type="gaussian">
                <mean>0</mean>
                <stddev>0.021</stddev>
                <bias_mean>0.05</bias_mean>
                <bias_stddev>0.0075</bias_stddev>
                <dynamic_bias_stddev>0.000375</dynamic_bias_stddev>
                <dynamic_bias_correlation_time>175.0</dynamic_bias_correlation_time>
                <precision>0.005</precision>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0</mean>
                <stddev>0.021</stddev>
                <bias_mean>0.05</bias_mean>
                <bias_stddev>0.0075</bias_stddev>
                <dynamic_bias_stddev>0.000375</dynamic_bias_stddev>
                <dynamic_bias_correlation_time>175.0</dynamic_bias_correlation_time>
                <precision>0.005</precision>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0</mean>
                <stddev>0.021</stddev>
                <bias_mean>0.05</bias_mean>
                <bias_stddev>0.0075</bias_stddev>
                <dynamic_bias_stddev>0.000375</dynamic_bias_stddev>
                <dynamic_bias_correlation_time>175.0</dynamic_bias_correlation_time>
                <precision>0.005</precision>
              </noise>
            </z>
          </linear_acceleration>
        </imu>
      </sensor>
    </gazebo>

    <xacro:set_all_wheel_frictions prefix="${prefix}" />
  </xacro:macro>
</robot>
