<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- If tf_prefix is given, use "frame tf_prefix/imu_frame", else "imu_frame" -->
  <xacro:arg name="tf_prefix" default="" />
  <xacro:property name="tf_prefix" value="$(arg tf_prefix)" />
  <xacro:if value="${tf_prefix == ''}">
      <xacro:property name="imu_frame" value="imu_frame" />
  </xacro:if>
  <xacro:unless value="${tf_prefix == ''}">
      <xacro:property name="imu_frame" value="$(arg tf_prefix)/imu_frame" />
  </xacro:unless>


  <xacro:macro name="imu_gazebo" params="link imu_topic update_rate">
    <gazebo>
      <sensor name="imu_sensor" type="imu">
          <always_on>1</always_on>
          <update_rate>${update_rate}</update_rate>
          <visualize>true</visualize>
          <topic>${imu_topic}</topic>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
