<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- If tf_prefix is given, use "frame tf_prefix/imu_frame", else "imu_frame" -->
  <xacro:arg name="tf_prefix" default="" />
  <xacro:property name="tf_prefix" value="$(arg tf_prefix)" />
  <xacro:if value="${tf_prefix == ''}">
      <xacro:property name="imu_frame" value="imu_frame" />
  </xacro:if>
  <xacro:unless value="${tf_prefix == ''}">
      <xacro:property name="imu_frame" value="$(arg tf_prefix)/imu_frame" />
  </xacro:unless>

  <xacro:macro name="imu_gazebo" params="link imu_topic update_rate">
    <gazebo>
      <sensor name="tb3_imu" type="imu">
        <always_on>true</always_on>
        <update_rate>200</update_rate>
        <topic>imu</topic>
        <imu>
          ... <!-- all the content of <imu> -->
        </imu>
      </sensor>
      <sensor name="camera" type="camera">
        <always_on>true</always_on>
        <visualize>true</visualize>
        <update_rate>30</update_rate>
        <topic>camera/image_raw</topic>
        <gz_frame_id>camera_rgb_frame</gz_frame_id>
        <camera name="intel_realsense_r200">
          <camera_info_topic>camera/camera_info</camera_info_topic>
          ... <!-- all the content of <camera> from the original -->
        </camera>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
