<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find mir_description)/urdf/include/common_properties.urdf.xacro" />

  <xacro:property name="laser_x" value="0.156" />
  <xacro:property name="laser_y" value="0.155" />
  <xacro:property name="laser_z" value="0.185" />
  <xacro:property name="laser_mass" value="1.2" />

  <xacro:macro name="sick_s300" params="link topic prefix">
    <link name="${prefix}${link}">
      <visual>
        <origin xyz="-0.335 -0.385 0.1555" rpy="0 0 ${3*pi/4}" />
        <geometry>
          <mesh filename="package://mir_description/meshes/mir_100/visual/SICK-lidar.dae" />
        </geometry>
      </visual>
      <!-- Collision model is not necessary -->
      <!-- <collision>
        <origin xyz="0.0 0.0 0.0" rpy="${pi} 0 0" />
        <geometry>
          <mesh filename="package://mir_description/meshes/mir_100/visual/SICK-lidar.dae" />
        </geometry>
      </collision> -->
      <xacro:box_inertial x="${laser_x}" y="${laser_y}" z="${laser_z}" mass="${laser_mass}">
        <origin xyz="0 0 0" />
      </xacro:box_inertial>
    </link>
  </xacro:macro>
</robot>